<div class="container-fluid">
  <h1>Add A New Spot!</h1>
  <%= form_for @spot do |f| %>


<%= f.label "Taking spot? change the status below" %>
  <br/>
      	<%= f.select(:status, ['vacant','occupied'], :class => 'my')%>
  <br/>

  <br>

    <%= f.submit %>
  <% end %>
  <br/>
  <br/>
</div>
