

            <div style="background: black;opacity: 0.8;">
                <h1 style="text-align:center"><span style="color:red;">Smart</span><span style="color:white;">Park</span></h1>
                <h3 style="color:white; text-align:center;">An Intelligent Parking Solution</h3>
                <br>
                <a href="#about" class="btn btn-dark btn-lg" style="background-color: red;text-align:center; position:relative; left:890px;opacity: 0.7;color:white;margin-bottom: 10px;">Know More</a>
            </div>
            <br>
          </br>    <br>
            </br>
            <section id="about" style="background: #042a2b" class="about">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2><span style="color:red;">Smart</span><span style="font-weight:bold;">Park</span> brings a solution to all parking problems.</h2>
                                <p class="lead">There are many roads which we can follow in life, but hardly any road gives us secure space for parking.</p>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>

          <br></br>

                <section id="services" class="services bg-primary">

                           <article style="" id="our-technology" class="section section--tech section--grey journey journey--home js-journey-home">
                        <div class="wrap wrap--large wrap--journey">
                            <header style="padding-top: 2px;margin-top: 0px;" class="title--journey">
                                <h1 class="title">How we do it ?</h1>
                                                <h3 class="subtitle lead" style="color:black;">Find out more about what Smart park can do for you.</h3>
                            </header>
                        <div class="wrap--lines">
                            <!-- <div id="car1" class="car car--1">
                                <img src="assets/img/car.svg" alt="car" />
                            </div> -->

                            <div id="car2" class="car car--2" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                <img src="assets/img/car.svg" alt="car">
                            </div>






                              <div class="sun"></div>
  	<div class="grass"></div>
  	<div class="street">
  		<div class="car">
  		<!--<div class="car-base"></div>-->
  		<div class="car-body">
  			<div class="car-top-back">
  				<div class="back-curve"></div>
  			</div>
  			<div class="car-gate"></div>
  			<div class="car-top-front">
  				<div class="wind-sheild"></div>
  			</div>
  			<div class="bonet-front"></div>
  			<div class="stepney"></div>
  		</div>
  		<div class="boundary-tyre-cover">
  			<div class="boundary-tyre-cover-back-bottom"></div>
  			<div class="boundary-tyre-cover-inner"></div>
  		</div>
  		<div class="tyre-cover-front">
  			<div class="boundary-tyre-cover-inner-front"></div>
  		</div>
  		<div class="base-axcel">

  		</div>
  		<div class="front-bumper"></div>
  		<div class="tyre">
  			<div class="gap"></div>
  		</div>
  		<div class="tyre front">
  			<div class="gap"></div>
  		</div>
  		<div class="car-shadow"></div>
  	</div>
  	</div>
  	<div class="street-stripe"></div>
  	<div class="hill">
  		<!--<div class="tree-1">
  			<div class="branch-1"></div>
  			<div class="branch-2"></div>
  			<div class="branch-3"></div>
  		</div>
  		<div class="tree-1">
  		<div class="branch"></div>
  		<div class="trunk"></div>
  	</div>-->
  	</div>

  </div>



                          <div class="parking-wrap clearfix">
                              <div class="col--journey col--first">
                                  <div class="bay-wrap bay-wrap--on-street ">
                                      <div id="onStreet">
                                          <!-- <span class="graphic-smarteye"></span>
                                          <span class="graphic-smarteye-pulse animate--pulse"></span> -->
                                      </div>
                                      <!-- <img src="assets/img/journey-home-on-street.svg" alt="On street parking" class="journey__graphic journey__graphic--on-street" /> -->
                                  </div>

                              </div>
                              <div class="col--journey col--last">
                                  <div class="bay-wrap bay-wrap--off-street">
                                      <div id="offStreet">
                                          <span class="graphic-smarteye"></span>
                                          <span class="graphic-smarteye-pulse animate--pulse"></span>
                                      </div>
                                      <img src="assets/img/journey-home-off-street.svg" alt="Off street parking" class="journey__graphic journey__graphic--off-street">
                                  </div>

                              </div>
                          </div>
                      </div>

                      </div>
                  </article>
                  </section>
