
<h4 class="aboutus">What is Smart Park?</h4>
<p class="aboutus">Smart Park is an easy and convenient way to navigate and access the busy and congested parking situations in many large cities. Simply click the "Get your Location" button and instantly see how many parking spots are available within a customizable filter! Users can also add spots and mark them vacant or occupied allowing the list of spots available to you ever growing! </p>
<div class="animated slideinleft">
  <%= image_tag("/car.png")%>
</div>
