

            <div style="background: black;opacity: 0.8;">
                <h1 style="text-align:center"><span style="color:red;">Smart</span><span style="color:white;">Park</span></h1>
                <h3 style="color:white; text-align:center;">An Intelligent Parking Solution</h3>
                <br>

            </div>
            <br>
          </br>    <br>
            </br>
            <section id="about" class="about">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2><span style="color:red;">Smart</span><span style="font-weight:bold;">Park</span> brings a solution to all parking problems.</h2>
                                <p class="lead">There are many roads which we can follow in life, but hardly any road gives us secure space for parking.</p>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>

          <br></br>

                <section id="services" class="services bg-primary">
<h1 class="title">How we do it ?</h1>
<h3 style="color:black;"> Users simply post parking spots near them, and then  search  </h3>
<h3 style="color:black;"> for parking spots near a certain location.Users  hold spots for each other by calling and are rewarded for good reviews</h3>
                           <article style="" id="our-technology" class="section section--tech section--grey journey journey--home js-journey-home">
                        <div class="wrap wrap--large wrap--journey">
                          <br></br>
                          <div  style="padding-top: 2px; position:relative;top:-20px;margin-top: 0px;" class="sun"></div>





                                                                <h3 class="subtitle lead" style="color:black;">Find out more about what Smart park can do for you.</h3>
                                                                    <% link_to "sign up", new_user_registration_path, class: "btn btn-primary" %>
                          <br></br>  <br></br><br></br><br></br>
                            <header style="padding-top: 2px;margin-top: 0px;" class="title--journey">



                            </header>
                        <div class="wrap--lines">
                            <!-- <div id="car1" class="car car--1">
                                <img src="assets/img/car.svg" alt="car" />
                            </div> -->

                            <div id="car2" class="car car--2" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                <img src="assets/img/car.svg" alt="car">
                            </div>




 </section>


 <section>


  	<div class="grass"></div>
  	<div class="street">
  		<div class="car">
  		<!--<div class="car-base"></div>-->
  		<div class="car-body">
  			<div class="car-top-back">
  				<div class="back-curve"></div>
  			</div>
  			<div class="car-gate"></div>
  			<div class="car-top-front">
  				<div class="wind-sheild"></div>
  			</div>
  			<div class="bonet-front"></div>
  			<div class="stepney"></div>
  		</div>
  		<div class="boundary-tyre-cover">
  			<div class="boundary-tyre-cover-back-bottom"></div>
  			<div class="boundary-tyre-cover-inner"></div>
  		</div>
  		<div class="tyre-cover-front">
  			<div class="boundary-tyre-cover-inner-front"></div>
  		</div>
  		<div class="base-axcel">

  		</div>
  		<div class="front-bumper"></div>
  		<div class="tyre">
  			<div class="gap"></div>
  		</div>
  		<div class="tyre front">
  			<div class="gap"></div>
  		</div>
  		<div class="car-shadow"></div>
  	</div>
  	</div>
  	<div class="street-stripe"></div>
  	<div class="hill">
  		<!--<div class="tree-1">
  			<div class="branch-1"></div>
  			<div class="branch-2"></div>
  			<div class="branch-3"></div>
  		</div>
  		<div class="tree-1">
  		<div class="branch"></div>
  		<div class="trunk"></div>
  	</div>-->
  	</div>

  </div>



                          <div class="parking-wrap clearfix">
                              <div class="col--journey col--first">
                                  <div class="bay-wrap bay-wrap--on-street ">
                                      <div id="onStreet">
                                          <!-- <span class="graphic-smarteye"></span>
                                          <span class="graphic-smarteye-pulse animate--pulse"></span> -->
                                      </div>
                                      <!-- <img src="assets/img/journey-home-on-street.svg" alt="On street parking" class="journey__graphic journey__graphic--on-street" /> -->
                                  </div>

                              </div>
                              <div class="col--journey col--last">
                                  <div class="bay-wrap bay-wrap--off-street">
                                      <div id="offStreet">
                                          <span class="graphic-smarteye"></span>
                                          <span class="graphic-smarteye-pulse animate--pulse"></span>
                                      </div>
                                      <img style="text-align:center;"src="assets/img/journey-home-off-street.svg" alt="FAQ" class="journey__graphic journey__graphic--off-street">


                                                    <div>
                                                      <h3 class="subtitle lead" style="color:black;font-family:monospace;">FAQ</h3>
                                                      <h2 style="text-align: center; color:blue;">After I call to reserve a spot, is it guaranteed?</h2>
                                                      <p> You betcha! While we can’t hold an actual spot, we do rely on users to hold spots for each other </p>
                                                      <h2 style="text-align: center; color:blue;"> Who do i call when taking  a spot? </h2>
                                                      <p> Simply call the number next to the parking spot , and the owner will hold it for you!</p>
                                                      <% link_to "sign up", new_user_registration_path, class: "btn btn-primary" %>

                                                      <h2 style="text-align: center; color:blue;"> How does the review system work? </h2>
                                                      <p> If a user was kind enough to hold a spot for you, give him a 5 star review!! We will be rewarding users for good reviews!</p>
                                                      <% link_to "sign up", new_user_registration_path, class: "btn btn-primary" %>
                                                    </div>
                                  </div>

                              </div>
                          </div>
                      </div>

                      </div>
                  </article>
                  </section>
