/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
 .ey_container {
 	width: 96%;
 	margin:auto;

 }
.navbar-brand {
  background-image: url("SmartPark.png");
  height: 60px;
  width: 150px;
}


button {
  color:#000000;
}
#spot_status {
  color: #000000;
}
input {
  color:black;
}
 body {
 	background-image: url("parking.jpg");
  background-size: cover;
      color:#e6ff1f;
    font-family: 'Righteous', cursive;

 }
 .logo {
   background-image: url("  Smary.png");
 }
 .ey_copyright {
 	text-align: center;
 	padding-top: 25px;
 	padding-bottom: 25px;
 	font-size: 16px;
 	opacity: .3;
 }

 h4 {
 	margin-bottom: 0px!important;
 }

 #edit_farm_button {
 	position: fixed;
 	bottom: 20px;
 	left: 20px;
 }

 .directions_div {
 	text-align: center;
 }

 .mod_overlay {
	width: 150%;
	height: 2500px;
	background-color: gray;
	display: none;
	position: fixed;
	z-index: 9;
	opacity: 0.8;
	top: -250px;
	left: -200px;
}

.add_new_link {
	width: 40%;
	height: 475px;
	top: 9%;
	left: 30%;
	margin-top: 100px;
	position: fixed;
	background-color: #18bc9c;
	border-radius: 5px;
	z-index: 11;
	display: none;
}

.add_new_link_inside {
	width: 90%;
	margin-left: 5%;
}

.big_rating {
	font-size: 35px;
}

.navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 0px
}

p.notice {
	display: none;
}

p.alert {
	display: none;
}

.ey_nav_div {
	float: none;
	text-align: center;
    background-color:#2a2a28;
}

#farm_description {
	height: 500px;
}


.farm_sum {
	height: 300px;
	border-radius: 5px;
	border: 2px solid   #e6ff1f;
	margin-top: 15px;
}

.farm_sum:hover {
	border: 2px solid #3498db;
	transition: border 5s ease;
}

.button_div {
	width: 90%;
	margin: auto;
	padding-top: 10px;
}

.first_button {
	height: 230px;
}

a:hover{
	color: #3498db!important;
	text-decoration: none!important;
}

.navbar-collapse {
  color:#e6ff1f;
}

.aboutus {
  text-align: center;
}
li{
  font-size: 25px;
}
