// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ey_nav_div {
	float: none;
	text-align: center;
    background-color:#2a2a28;
}

.td1 {
	color:#337ab7;
}

.form1{
	width:40%;
}
